@import "tailwindcss";

body {
  font-family: var(--font-open-sans);
  background: white;
}

@theme {
  --color-primary: var(#CFF8F1);
  --color-secondary: var(#168B86);
  --color-accent: var(#E5E5FF);
  --color-surface: var(#FFEDE2);
  --color-card: var(#E5E5FF);
  --color-warning: var(#EB3C13);
  --color-success: var(#10B981);
  --color-info: var(#3B82F6);
}